<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="GestaoTarefas"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestaoTarefas">

        <!-- MAIN -->
        <activity android:name=".MainActivity" />

        <!-- EDITAR -->
        <activity android:name=".EditarTarefasActivity" />

        <!-- PRIORIDADES -->
        <activity android:name=".PrioridadesActivity" />

        <!-- LISTA -->
        <activity android:name=".ListaTarefasActivity" />

        <!-- CONCLUÍDAS -->
        <activity android:name=".ConcluidasActivity" />

        <!-- CADASTRO -->
        <activity android:name=".CadastroActivity" />

        <activity android:name=".CheckpointActivity"/>

        <activity android:name=".DetalhesTarefaActivity"/>

        <activity android:name=".DashboardActivity"/>

        <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>